* {
    margin: 0px;
}

.bloco  {
    width: 90px;
    height: 200px;
    margin: 20px;
    
    
    
}

.container-dos-blocos {
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    
}

